rel_final_erik_perillo_1sem2017.aux
rel_final_erik_perillo_1sem2017.bbl
rel_final_erik_perillo_1sem2017.bcf
rel_final_erik_perillo_1sem2017.blg
rel_final_erik_perillo_1sem2017.fdb_latexmk
rel_final_erik_perillo_1sem2017.fls
rel_final_erik_perillo_1sem2017.log
rel_final_erik_perillo_1sem2017.pdf
rel_final_erik_perillo_1sem2017.run.xml
rel_final_erik_perillo_1sem2017.synctex.gz
